{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title }} Edit
{% endblock %}

{% block body %}
<h4> Edit <i>{{ title }}</i> content</h4>
<h6> Please use markdown when editing</h6>
<hr>
<form action="{% url 'edit' title %}" method="POST">
    {% csrf_token %}
    {% if message %}
    <div class="form-group">
        {{ message }}
    </div>
    {% endif %}
    <div class="form-group">
        {{ form }}
    </div>
    <button type="submit" class="btn btn-outline-primary form-control">Submit</button>
</form>
{% endblock %}